body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0;
}
.possible{
    text-align: right;
    background-image: url('../images/banner/banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
   /* height: 508px;
    width: 100%;
    padding: 200px;*/
    height: 900px;
    margin-bottom: 200px;

    
}
.possible-title{
    font-size: 65px;
   /* padding-bottom: 30px;*/
   padding-top: 260px;
   padding-right: 200px;
}
.possible-description{
    font-size: 26px;
    color: #444343;
    padding-top: 25px;
    padding-right: 200px;
 }
    
.possible-btn{
    color: rgb(249, 248, 248);
    background-color: rgb(214, 120, 53);
    width: 160px;
    height: 64px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top:25px;
    margin-right: 200px;
}
/* failure */
.failure{
    display: flex;
    justify-content: space-around;
}
.image{
    padding: 160px 120px 50px;
}
.failure-title{
    padding: 230px 620px 100px 50px;
   /*padding-top:360px;*/
   text-align: left;
}
.heading{
    /*font-size: 50px;
    padding-bottom: 25px;*/
    font-size: 50px;
   padding-bottom: 25px; 
}
.failure-description{
    font-size: 26px;
    padding-bottom: 25px;
    color: #444343;
    
}
.list{
    font-size: 26px;
    color: #444343;
    list-style: none;
    padding-left: 25px;
    
}
.mark{
    color: green;
}
/* plan */
.p2{
    font-size: 50px;
    text-align: center;
    padding-top: 70px;
}
.plan-list{
    display: flex;
    justify-content: center;
    padding-top: 90px;
    gap: 160px;
}
.plan-head{
    font-size: 25px;
    padding-top: 25px;
    

}
.plan-des{
    color: #444343;
    padding-top: 15px;
    font-size: 20px;
}
.part-all{
    text-align: center;
}
/* image*/
h4{
    font-size: 25px;
    padding-top: 120px;
    color: aliceblue;
    margin-left: 60px;
    margin-bottom: 40px;
}
.picture{
    background-image: url('../images/watch.png'), url('../images/gradient2.png');
    background-blend-mode: luminosity;
    margin: 80px 450px 70px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    
}
.call-btn{
    font-size: 20px;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: rgb(93, 48, 9);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 120px;
    margin-left: 60px;
    margin-top: 5px;
    background-color: aqua;
}
footer{
    display: flex;
    justify-content: space-around;
     background-color: black;
     height: 500px;
}
.icons{
    display: flex;
    list-style: none;
    padding-left: 0px;

}
.form{
    margin-top: 42px;
    margin-left: 460px;
}
.future{
    color:white;
    margin-left: 300px;
    margin-top: 65px;
}
.sub{
    color: white;
    padding-bottom:0px;
    padding-top: 35px;
    font-size: 35px;
}
.foot{
    padding-right: 307px;
    font-size: 44px;
    margin-top:0px;
    padding-top: 0px;
}
.twitt{
    padding-left: 10px;
    padding-right: 10px;
}
.mail{
   margin-left: 60px;
   margin-bottom: 10px;
   text-align:left;
   border-radius: 5px;
   padding: 5px 0px 5px 0px;
   margin-top: 0px;
   width: 250px;
   padding-left: 5px;
}
.marq{
    color: aliceblue;
    font-size: 40px;
}
.marqq{
    margin-right: 400px;
    margin-left: 60px;
}